In [2]:
import sys
import pandas as pd
import numpy as np

print("Python executable:", sys.executable)
print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Python executable: /Users/dondiego/Projects/ai-product-portfolio/01_user_conversion/.venv/bin/python
Pandas version: 2.3.3
Numpy version: 2.0.2

In [3]:
DATA_PATH = "../data/synthetic_user_conversion_data.csv"

df = pd.read_csv(DATA_PATH)

df.head()

,days_since_signup,sessions_7d,content_hours_7d,downloads_7d,paywall_views_7d,country_tier,converted
0,39,5,2.80,0,2,Tier_1,1
1,52,1,1.03,2,2,Tier_2,1
2,29,4,2.30,1,3,Tier_2,1
3,15,4,1.60,0,1,Tier_2,1
4,43,4,6.75,2,1,Tier_2,0

In [4]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   days_since_signup  5000 non-null   int64
 1   sessions_7d        5000 non-null   int64
 2   content_hours_7d   5000 non-null   float64
 3   downloads_7d       5000 non-null   int64
 4   paywall_views_7d   5000 non-null   int64
 5   country_tier       5000 non-null   object
 6   converted          5000 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 273.6+ KB

In [5]:
df["converted"].value_counts(normalize=True)
df["converted"].value_counts()

converted
1    4310
0     690
Name: count, dtype: int64

In [6]:
df.describe()

,days_since_signup,sessions_7d,content_hours_7d,downloads_7d,paywall_views_7d,converted
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,30.125800,2.993200,2.985966,0.999200,1.225400,0.862000
std,16.910162,1.731171,2.132966,0.992268,1.098925,0.344934
min,1.000000,0.000000,0.020000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.430000,0.000000,0.000000,1.000000
50%,30.000000,3.000000,2.500000,1.000000,1.000000,1.000000
75%,45.000000,4.000000,3.982500,2.000000,2.000000,1.000000
max,59.000000,12.000000,22.210000,5.000000,7.000000,1.000000

In [7]:
df["country_tier"].value_counts(normalize=True)

country_tier
Tier_2    0.3838
Tier_1    0.3554
Tier_3    0.2608
Name: proportion, dtype: float64

In [8]:
df.groupby("converted")[[
    "sessions_7d",
    "downloads_7d",
    "paywall_views_7d",
    "content_hours_7d",
    "days_since_signup"
]].mean()

,sessions_7d,downloads_7d,paywall_views_7d,content_hours_7d,days_since_signup
converted,,,,,
0,2.288406,0.724638,0.882609,2.322159,33.133333
1,3.106032,1.043155,1.280278,3.092237,29.644316

In [9]:
df.corr(numeric_only=True)

,days_since_signup,sessions_7d,content_hours_7d,downloads_7d,paywall_views_7d,converted
days_since_signup,1.000000,0.006336,0.013675,0.007755,0.009561,-0.071169
sessions_7d,0.006336,1.000000,-0.007274,-0.018752,0.013844,0.162911
content_hours_7d,0.013675,-0.007274,1.000000,0.005915,0.014259,0.124534
downloads_7d,0.007755,-0.018752,0.005915,1.000000,0.004201,0.110724
paywall_views_7d,0.009561,0.013844,0.014259,0.004201,1.000000,0.124822
converted,-0.071169,0.162911,0.124534,0.110724,0.124822,1.000000